push constant 0
pop local 0
push static 0
push constant 0
lt
if-goto NEG
push static 0
pop static 3
push static 1
pop static 5
goto LOOP
label NEG
push static 0
neg
pop static 3
push static 1
neg
pop static 5
label LOOP
push static 3
push constant 0
eq
if-goto END
push static 5
push local 0
add
pop local 0
push static 3
push constant 1
sub
pop static 3
goto LOOP
label END
goto END