// Calculates a = x*y
// a is a local variable
// x & y are static variables

// Put your code here.
push constant 0
pop local 0
push static 0
pop static 3

label LOOP

push static 0
push constant 0
eq
if-goto STOP

push static 0
push constant 0
lt 
if-goto NEG

push static 1
push local 0
add
pop local 0

push static 0
push constant 1
sub
pop static 0
goto LOOP

label NEG
push local 0
push static 1
sub
pop local 0

push static 0
push constant 1
add
pop static 0
goto LOOP

label STOP
push static 3
pop static 0

label END
goto END